.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
}

.content {
  padding: 12px 12px;
}

.icons {
  display: flex;
  align-items: center;
  color: red;
  padding: 12px 12px;
}

.delete {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.4;
}
 @media screen and (max-width:600px) {
    
 }